.container{
  /* background-color: yellowgreen; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-align: justify;
}


.pokemon-container {
  max-width: 100%;
/* background-color: black; */
  overflow-x: auto;
}

.pokemon-scroll {
  display: flex;
  flex-wrap: nowrap;
}

.pokemon-card {
  flex: 0 0 auto;
  margin-right: 10px;
  text-align: center;
  width: 200px; /* Ajusta el ancho de la tarjeta según tu preferencia */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}

.pokemon-image {
height: 130px;

  /* max-width: 100px; */
  /* max-height: 100px; */
  /* background-color: red; */
}

.pokemon-name {
  /* background-color: green; */
  margin-top: auto; /* Coloca el nombre en la parte inferior */
}
